.myBG {
    background-image: url("../assets/images/bg/main.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    /* font-size: calc(10px + 2vmin); */
    color: white;
}
/* .navBar {
    background-color: #282c34;
} */

.intro {
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 3px 3px black;
    letter-spacing: 4px;
}

.trending {
    height: auto;
    background-image: url("../assets/images/bg/scifi.jpg");
    background-size: cover;
}

.movieImage {
    height: auto;
    background-color: dark;
    padding: 5px;
    margin: 5px;
}

.images {
    height: 50px;
}